<%- include('../includes/head.ejs', {pageTitle: pageTitle}) %>
    <link rel="stylesheet" href="/css/forms.css">
    <!-- <link rel="stylesheet" href="/css/auth.css"> -->
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <% if (errorMessage) { %>
                <p><%= errorMessage %></p>
            <% } %>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">비밀번호 변경하기</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>